@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
input {
  font-family: "Poppins", sans-serif;
}
.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.signup-signup {
  background: linear-gradient(#20dcb2, #00bfa6);
  /* height: 2rem; */
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
}
.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}
.input-field {
  max-width: 380px;
  width: 100%;
  height: 55px;
  background-color: #f0f0f0;
  margin: 10px 0;
  border-radius: 55px;
  padding: 0 0.4rem;
  text-align: center;
  line-height: 55px;
  color: #acacac;
  font-size: 1.5rem;
}
.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-size: 1.2rem;
  color: #333;
}
.input-field input:placeholder-shown {
  color: #aaa;
  font-weight: 500;
}
.btn {
  width: 150px;
  height: 49px;
  outline: none;
  border: none;
  border-radius: 48px;
  background-color: #20dbc2;
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #00bfa6;
}
.social-text {
  padding: 0.7rem 0;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-icon {
  height: 55px;
  width: 55px;
  border: 1px solid #333;
  border-radius: 50%;
  margin: 0 0.45rem;
  color: #333;
  font-size: 1.3rem;
  padding: 15;
}
.social-icon:hover {
  transform: scaleY(1.1);
  color: #20dbc2;
  border-color: #00bfa6;
}
.sign-in-form {
  margin-left: 900px;
  margin-top: 150px;
}
.sign-up-form {
  margin-right: 900px;
  margin-top: -550px;
  /* display: none; */
}
.image {
  width: 450px;
  height: 450px;
  position: absolute;
  z-index: 3;
  top: 40%;
  left: 20%;
}
.content {
  z-index: 2;
  position: relative;
  text-align: center;
  right: 24%;
  margin-top: 5%;
  color: black;
}
.hom {
  font-size: 25px;
  transform: rotate(25deg);
  padding: 1%;
  border-radius: 50%;
}
.hom:hover {
  transition: 0.3s linear;
  left: 120%;
  background-color: #20dbc2;
}
.btn-transparent {
  /* border-color: #fff; */
  border: 3px solid #fff;
  width: 150px;
  height: 49px;
  outline: none;
  border-radius: 48px;
  background-color: #20dbc2;
  color: white;
  padding: 1px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  font-size: 20px;
  transition: all 0.5s;
}
.btn-transparent:hover {
  background-color: #00bfa6;
  cursor: pointer;
}
.panel left-panel::before {
  transform: translate(100%, -50%);
  right: 52%;
}
a {
  text-decoration: none;
  color: white;
}

#button {
  border-radius: 100px;
  background-color: black;
}
